* {
    margin: 0px;
    padding: 0px;
}

 :root {
    --navbar-height: 59px;
}



/* Navigation Bar:logo and Image  */
 #logo {
    margin: 34px 45px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}
/* Navigation Bar  */
#navbar {
    top: -38px;
    display: flex;
    align-items: center;
    /* position: relative; */
    position: absolute;
}

/* Navgation Bar :List Styling */
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 93%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

/* a me ja kr padding kyu di because  agar mai hover kru to a wala pura elaka hover ho */
#navbar ul li a {
    color: white;
    display: block;
    /*NOTE: display ko block issliye kyukii padding deni hai*/
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
    /* for underline*/
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex; 
    /* chizo ko sidha kr dega */
    flex-direction: column;
    padding: 3px 200px;
    height: 463px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    position: absolute;
   
    height: 66%;
    background: url(/image/bg2.jpg)no-repeat center/cover ;
    width: 100%;
    z-index: -1;
    opacity: 0.86;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2.8rem;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.0rem;
}
/*<--------Services section----------->*/
#services{
    margin: 34px;
    display: flex;
    font-family: 'Bree Serif,Serif';
}
#services .box{
    border: 2px solid brown;
    padding: 30px;
    margin: -29px 6px;
    border-radius: 23px;
background-color: rgb(240, 212, 212);
margin-bottom: 12px;
/* margin-top: 3px; */
    
}
#services .box img{
    top:0px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: -56px;
}
#services .box p{
    font-family: 'Bree Serif,Serif';
}
/*Clint section*/
#client-section{
    position: relative;
height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(/image/bg3.jpg)no-repeat center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
   justify-content: center; 
    align-items: center;  
}
.client-item{
    padding: 34px;
}
#clients  img{
    height:124px; 
   
}
/* Contact us  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(/image/contact.jpg)no-repeat center/cover;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}
footer{
    background: black;
    color: whitesmoke;
    padding: 9px 20px;
}
#contact-box{
    display: flex;
    text-align: center;
    justify-content: center;
}
#contact-box input, textarea{
width: 100%;
padding: 0.5rem;
border-radius: 9px;
font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Bree Serif,Serif' ;
}


/* Utility classes */

 .h-primary{
    font-family: 'Bree Serif,Serif';
    font-size:3.8rem;
    padding: 12px;
    text-align: center;
}
 .h-secondary{
    font-family: 'Bree Serif,Serif';
    font-style:bold;
    font-size:2.8rem;
    padding: 12px;
    text-align: center; 
} 
.btn{
    padding: 2px 30px;
    border: 2px solid red;
    border-radius: 12px;
    background-color: brown;
    color: white;
    margin: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.center{
    text-align: center;
}
.btn:hover{
    color: black;
    background: white;
}
